<header>
  <h1>Lista {{ isDoctor ? 'pacjentów' : 'użytkowników'}}</h1>

  <div class="button-wrapper" *ngIf="isAdmin">
    <button mat-stroked-button color="primary" (click)="onAddItem()"><mat-icon>add</mat-icon>Dodaj</button>
  </div>
</header>

<app-users-table [dataSource]="dataSource"
                 [isLoading]="isLoading"
                 (itemDeleted)="onDeleteItem($event)"
                 (itemEdit)="onEditItem($event)"
                 (itemClick)="navigateToUserDetails($event)">
</app-users-table>

<div class="button-wrapper m-t-16" *ngIf="isAdmin">
  <button mat-stroked-button color="primary" (click)="onAddItem()"><mat-icon>add</mat-icon>Dodaj</button>
</div>
