<header>
  <h1>Lista pacjentów</h1>

  <div class="button-wrapper">
    <button mat-stroked-button color="primary" (click)="onAddItem()"><mat-icon>add</mat-icon>Dodaj</button>
  </div>
</header>

<app-users-table [dataSource]="dataSource"
                 [isLoading]="isLoading"
                 (itemDeleted)="onDeleteItem($event)"
                 (itemEdit)="onEditItem($event)">
</app-users-table>

<div class="button-wrapper m-t-16">
  <button mat-stroked-button color="primary" (click)="onAddItem()"><mat-icon>add</mat-icon>Dodaj</button>
</div>
