<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>{{ create ? 'Tworzenie' : 'Edycja' }}</h2>

  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Numer sali</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-error *ngIf="!isValid('name')">{{ getFirstErrorMessage('name') }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="primary" type="submit" [disabled]="!form.valid">{{ create ? 'Stwórz' : 'Zapisz' }}</button>
    <button mat-button type="button" (click)="closeDialog()">Zamknij</button>
  </mat-dialog-actions>
</form>
