<div class="app-wrapper">
  <mat-toolbar *ngIf="isLoggedIn()">
    <h1>Kino</h1>

    <nav>
      <ng-container *ngIf="isAdmin()">
        <button mat-button [matMenuTriggerFor]="adminMenu"><mat-icon>widgets</mat-icon> Akcje pracownika</button>
        <mat-menu #adminMenu="matMenu">
          <a mat-menu-item [routerLink]="['/manage-seanses']"><mat-icon>video_settings</mat-icon> Zarządzaj seansami</a>
          <a mat-menu-item [routerLink]="['/manage-movies']"><mat-icon>movie</mat-icon> Zarządzaj filmami</a>
          <a mat-menu-item [routerLink]="['/manage-halls']"><mat-icon>room_preferences</mat-icon> Zadządzaj salami</a>
          <a mat-menu-item [routerLink]="['/manage-users']"><mat-icon>manage_accounts</mat-icon> Zarządzaj użytkownikami</a>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="!isAdmin()">
        <a mat-button [routerLink]="['/seanse-selection']"><mat-icon>live_tv</mat-icon>Wybierz seans</a>
      </ng-container>

      <button mat-button [matMenuTriggerFor]="profileMenu"><mat-icon>account_circle</mat-icon>Profil</button>
      <mat-menu #profileMenu="matMenu">
        <a mat-menu-item [routerLink]="['/manage-profile']"><mat-icon>edit</mat-icon>Edytuj profil</a>
        <button mat-menu-item (click)="logout()"><mat-icon color="warn">power_settings_new</mat-icon>Wyloguj</button>
      </mat-menu>
    </nav>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
