<div class="app-wrapper">
  <mat-toolbar *ngIf="isLoggedIn()">
    <h1>Przychodnia</h1>

    <nav>
      <ng-container *ngIf="isAdmin()">
          <a mat-button [routerLink]="['/manage-users']"><mat-icon>video_settings</mat-icon>Lista pacjentów</a>
      </ng-container>

      <button mat-button [matMenuTriggerFor]="profileMenu"><mat-icon>account_circle</mat-icon> Profil</button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="logout()"><mat-icon color="warn">power_settings_new</mat-icon>Wyloguj</button>
      </mat-menu>
    </nav>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
