<header>
  <h2>Rezerwacja</h2>
  <p>Film: <strong>{{ seanse.movie.title }}</strong></p>
  <p>Sala: <strong>{{ seanse.hall.name }}</strong></p>
  <p>Data: <strong>{{ seanse.startTime | date }}</strong></p>
  <p>Godzina: <strong>{{ seanse.startTime | time }}</strong></p>
</header>


<div class="row">
  <div class="fx-1">
    <div class="seats-container">
      <div *ngFor="let seatNumber of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
           class="seat seat-{{ seatNumber }}"
           [ngClass]="{ 'reserved-temporary': seatsReservedTemporarly.includes(seatNumber),
                        'reserved-by-user': allSeatsReservedByUser.includes(seatNumber),
                        'reserved-permanent': seatsReservedPermanently.includes(seatNumber)}"
           (click)="toggleSeatFromReservation(seatNumber)">
        {{ seatNumber }}
      </div>
    </div>
  </div>

  <section class="legend fx-1">
    <h3>Legenda</h3>
    <div class="row">
      <div class="seat small"></div>
      <p class="legend-description">Miejce wolne - możliwe do zarezerwowania.</p>
    </div>
    <div class="row">
      <div class="seat small reserved-by-user"></div>
      <p class="legend-description">Miejce wybrane przez Ciebie.</p>
    </div>
    <div class="row">
      <div class="seat small reserved-temporary"></div>
      <p class="legend-description">Miejce zarezerwowane tymczasowo.</p>
    </div>
    <div class="row">
      <div class="seat small reserved-permanent"></div>
      <p class="legend-description">Miejce zajęte.</p>
    </div>
  </section>
</div>

<div class="row">
  <button mat-raised-button color="primary" (click)="confirmReservations()">Zarezerwuj</button>
</div>
