mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  max-height: initial;
}

h1 {
  display: flex;
  justify-content: space-between;
}

.mat-input-element:disabled {
  color: black;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

mat-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 32px;

  li {
    margin-left: 8px;
    margin-right: 4px;

    &:first-child {
      list-style-type: none;
      margin-left: 0;
    }
  }
}

.highlighted {
  color: rebeccapurple;
  font-weight: bold;
}
