<header>
  <h1 *ngIf="isAdmin; else headerCasualUser">Zarządzanie seansami</h1>
  <ng-template #headerCasualUser>
    <h1>Wybór seansu</h1>
  </ng-template>

  <div class="button-wrapper" *ngIf="isAdmin">
    <button mat-stroked-button color="primary" (click)="onAddItem()"><mat-icon>add</mat-icon>Dodaj</button>
  </div>
</header>

<app-seanses-table [dataSource]="dataSource"
                   [isLoading]="isLoading"
                   (itemDeleted)="onDeleteItem($event)"
                   (itemEdit)="onEditItem($event)"
                   (itemClick)="onClickItem($event)"
>
</app-seanses-table>

<div class="button-wrapper m-t-16" *ngIf="isAdmin">
  <button mat-stroked-button color="primary" (click)="onAddItem()"><mat-icon>add</mat-icon>Dodaj</button>
</div>
