/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-h-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.h-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.m-t-16 {
  margin-top: 16px;
}
