<form [formGroup]="form">
  <h2 title>Dane osobowe</h2>
  <mat-form-field appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput formControlName="login">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Pełna nazwa użytkownika</mat-label>
    <input matInput formControlName="fullName">
  </mat-form-field>

  <h2 title>Postawione diagnozy</h2>
  <div class="button-wrapper" *ngIf="isDoctor()">
    <button mat-stroked-button color="primary" (click)="openCreateDiagnoseDialog()">Postaw nową diagnozę</button>
  </div>
  <app-diagnoses-table [dataSource]="diagnosesDataSource"
                       (itemClick)="openDiagnoseDetails($event)">
  </app-diagnoses-table>
</form>
